# OS
.DS_Store
Thumbs.db

# Python Basics
pycache/
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env
.venv/
Scripts/

# Build & Distribution (PyInstaller)
build/
dist/
*.spec
*.manifest

# Project Specific (Runtime Dat)
settings.json

# 다운로드 기록 파일
download_history.csv

# Logs
*.log

# External Binaries
bin/
*.exe

# IDE Settings
.vscode/
.idea/
*.swp